<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student adding</title>
<link th:href="@{/CSS/style.css}" rel="stylesheet" />
</head>

<body>
	<header>
			<h2 class="logo">Student Data</h2>
			<nav class="navigation">
				<button class="btn" onclick="window.location.href = '/ShowData'">Back</button>
			</nav>
		</header>
<div class="wrapper1">
		<div class="form-login">
			<form action="/addStudent" method="post">
					<h2>Add Student</h2><br>
					<div class="inputbox1">
						<input type="studentId" name="studentId" placeholder="Enter studentId here">
						<label>studentId </label>
					</div>
					<div class="inputbox1">
						<input type="StudentName" name="StudentName" placeholder="Enter StudentName here">
						<label>StudentName</label>
					</div>
					<div class="inputbox1">
						<input type="stEmail" name="stEmail" placeholder="Enter stEmail here">
						<label>stEmail</label>
					</div>
					<div class="inputbox1">
						<input type="teacherId" name="teacherId" placeholder="Enter teacherId here">
						<label>teacherId</label>
					</div>
					<div class="inputbox1">
						<input type="markId" name="markId" placeholder="Enter markId here">
						<label>markId</label>
					</div>
					<button type="submit" class="btn btn-primary">SUBMIT</button>
			</form>
		</div>
				
</div>
</body>
</html>