<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Delete Marks</title>
<link th:href="@{/CSS/style.css}" rel="stylesheet" />
</head>
<body>
	<header>
			<h2 class="logo">Student Data</h2>
			<nav class="navigation">

				<button class="btn" onclick="window.location.href = '/ShowData'">Home</button>
			
			</div>
		</header>
<div class="wrapper2">	
	<form action="/deleteMarks" method="post">
				<div class="form-group row">
					    <label for="MarksId" class="col-sm-2 col-form-label"><h3>Enter MarksId</h3></label>
					    <div class="col-sm-10"><br>
					      <input type="MarksId" class="MarksId" name="MarksId" placeholder="MarksId">
					    </div><br>
					     
					    <button type="submit" class="btn btn-primary">SUBMIT</button>
				</div>
	</form>
</div>
</body>
</html>